h1 {
  color: hsl(33, 100%, 88%);
  color: hsl(34, 57%, 70%);
  color: hsl(54, 77%, 75%);
  color: hsl(39, 54%, 43%);
  color: hsl(182, 25%, 50%);
  color: hsl(4, 82%, 56%);
}

h2 {
  color: #deb887;
  color: #f0e78e;
  color: #a97f32;
  color: #609d9f;
  color: #eb3f33;
}

/*
9%

15%
10
50%
1%

*/
